/* Color de body */
/* Color de header */
/* Color de footer */
/* Color de nav*/
/* Color de carousel */
/* FONTS */
/* Tangerine (uso en logo) */
@font-face {
  font-family: "Tangerine";
  src: url(../fonts/Tangerine_Regular.ttf); }

/* Unna Italic (Uso en titulos) */
@font-face {
  font-family: "Unna Italic";
  src: url(../fonts/Unna-Italic.ttf); }

/* SourceSansPro (Para uso en el contenido) */
@font-face {
  font-family: "SourceSansPro Light";
  src: url(../fonts/SourceSansPro-Light.ttf); }

@font-face {
  font-family: "SourceSansPro Light Italic";
  src: url(../fonts/SourceSansPro-LightItalic.ttf); }

@font-face {
  font-family: "SourceSansPro Regular";
  src: url(../fonts/SourceSansPro-Regular.ttf); }

* {
  font-family: SourceSansPro Light; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fcf6f1; }

.body--bgColorAlt body {
  background-color: #fdfaf7; }

.header--center--color {
  text-align: center;
  background: #ddf1ff;
  background: linear-gradient(180deg, #ddf1ff 0%, #ddf1ff 50%, #eaf6ff 75%, #f7fbff 90%, white 100%); }

.header__title--size--font {
  font-family: "Tangerine";
  font-size: 10vmin;
  padding: 5vmin 0;
  margin: 0; }
  .header__title--size--font--alternative {
    font-family: "Unna Italic";
    font-size: 8vmin;
    padding: 5vmin 0;
    margin: 0; }

.header__logo--posAbsolute {
  position: absolute;
  top: 3vmin;
  left: 5vmin; }
  .header__logo--posAbsolute img {
    width: 10vmin;
    height: 10vmin; }

.header__nav--flex ul {
  list-style-type: none;
  display: flex; }

.header__nav__items--animate li {
  transition: all 0.6s; }

.header__nav__items--animate li:hover {
  transform: scale(1.2, 1.2); }

.header__nav--color {
  background: white;
  background: linear-gradient(180deg, white 0%, white 75%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0) 100%); }

.contactos--format--color {
  position: sticky;
  bottom: 0vmin;
  height: 10%;
  width: 70vmin;
  margin: auto;
  background-color: white;
  padding: 0.8em;
  border-radius: 150px 150px 0 0; }

.contactos__list--flex {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none; }
  .contactos__list--flex > li img {
    margin: 0% 6% 0% 6%;
    width: 7vmin;
    transition: all 0.7s; }
    .contactos__list--flex > li img:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.7s; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23191818' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23191818' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.carousel__image--size {
  height: 75vmin;
  width: 75vmin; }

.carousel--color {
  background-color: #fcf6f1; }

.footer--flex--color {
  background: #ddf1ff;
  background: linear-gradient(0deg, #ddf1ff 0%, #ddf1ff 50%, #eaf6ff 75%, #f7fbff 90%, white 100%);
  padding: 5vmin 5vmin 0vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .footer--flex--color a {
    text-decoration: none; }

.footer__container--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5vmin; }
  .footer__container--flex div {
    flex: 1 1 50%; }
    .footer__container--flex div p {
      margin-bottom: 0; }
    .footer__container--flex div ul {
      list-style-type: none;
      margin-bottom: 0; }
  .footer__container--flex div:nth-child(2) {
    text-align: right; }

.footer__container__item--flex {
  display: flex;
  justify-content: space-between;
  word-spacing: 2px;
  letter-spacing: -1px;
  font-size: 14px; }
