.header{
    &--center--color{
        text-align: center;
        @include bg-color($header-base, $header-gradient);
    }
    &__title--size--font{
        font-family: "Tangerine";
        font-size: 10vmin;
        padding: 5vmin 0;
        margin: 0;
        &--alternative{
            font-family: "Unna Italic";
            font-size: 8vmin;
            padding: 5vmin 0;
            margin: 0;
        }
    }
    &__logo--posAbsolute{
        position: absolute;
        top: 3vmin;
        left: 5vmin;
        img{
            width: 10vmin;
            height: 10vmin;
        }
    }

}

@media (min-width: 992px) {
    .header{
        &__title--size--font{
            font-size: 6vmin;
        }
    }
}