.header__nav{
    font-size: large;
    &--color{
        @extend .header__nav;
        @include bg-color($nav-base,$nav-gradient);
    }
}

@media (min-width: 992px) {
    .header__nav{
        font-size: x-large;
        ul > li {
            padding: 0% 3vmin;
        }
    }
}