.piezas__container{
    &--flex{
        padding: 5vmin 15vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article{
            flex-grow: 1;
            height: 45vmin;
            width: 35vmin;
            display: flex;
            justify-content: center;
            margin-bottom: 5vmin;
            figure{
                display: flex;
                justify-content: center;
                flex-direction: column
            }
            figure > img{
                margin: auto;
                height: 80%;
                border-radius: 15px;
            }
            figure > figcaption{
                text-align: center;
            }
        }
    }
}